.center {
  margin: 0px auto;
}

#itm {
  margin-right: 20px;
  color: black;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid black;

  color: black;
}

.navbar {
  background: white;
}
.navbar-light .navbar-brand:hover {
  transform: scale(1.1);
  color: #767575;
}

.navbar-brand {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: black;

  /* this code is to ensure the padding doesnt get disturbed on hover */
  border-bottom: 2px solid transparent;
}
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.txt {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
  color: #111111;
}

.txt2 {
  margin-bottom: 8px;
  font-size: 48px;
  line-height: 0.833333;
  color: #111111;
  font-weight: 1000;
}
.txt3 {
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 0.833333;
  color: #111111;
  font-weight: 600;
}

a {
  color: inherit;
}

.btn3 {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 16px;
}
a:hover {
  color: #767575;
}

@media (min-width: 992px) {
  .cart1 {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
}

.cart1 {
  font-size: 24px !important;
  margin-right: 15px;
}

@media (min-width: 992px) {
  .heart1 {
    position: absolute;
    right: 0;
    margin-right: 59px;
    transform: translateY(-50%);
  }
}

.heart1 {
  font-size: 24px !important;
}
/* @media (min-width: 992px) {
  .searchbar {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
}
.searchbar {
  border-radius: 20px;
  margin-top: 30px;
} */
.anc {
  transition: all 0.2s ease-in-out;
}

.anc:hover {
  transform: scale(1.1);
  display: block;
}

@media screen and (min-width: 601px) {
  .para {
    margin-bottom: 8px;
    font-size: 25px;
    line-height: 0.833333;
    color: #111111;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .para {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 0.833333;
    color: #111111;
    font-weight: 600;
  }
}

@media screen and (min-width: 601px) {
  .para1 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 0.833333;
    color: gray;
    font-weight: 600;
  }
}

@media screen and (max-width: 590px) {
  .para1 {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 0.833333;
    color: gray;
    font-weight: 600;
  }
}
